<div class="row">
  <div class="col-12">
    <h1>Alpha Photobooth</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-striped col-12">
      <thead>
      <th>Kanaal</th>
      <th>Join</th>
      </thead>
      <tbody>
      {{#each boothIds as |id|}}
        <tr>
          <td>Photoboot {{id}}</td>
          <td>
            <LinkTo @route="booth" @model="{{id}}">
              <button class="btn btn-success">Join</button>
            </LinkTo>
          </td>
        </tr>
      {{/each}}

      </tbody>
    </table>
  </div>
</div>